{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
    .align-center {
        margin: auto auto;
    }
    </style>
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="col-lg-4 align-center">
    
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <div class="mb-3">
        {{ form(registrationForm) }}
    </div>

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}

    
</div>
{% endblock %}
